@font-face {
    font-family: editorial;
    src: url(./Fonts/EditorialNew-Light.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width : 100%;


}
#main{
    background-color: #222;
    overflow-x: hidden;
}

#page1 {
    height: 130vh;
    width: 100vw;
    background-color: #C7BFB5;
    position: relative;
    overflow: hidden;
}

#nav{
    height: 110px;
    width:100%;
    display:flex;
    padding: 0 30px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #222;
    z-index: 2;
}

#nav img{
    height: 50px;
    width: 40%;
}

#nav h5{
    font-size: 20px;
    font-weight: 100;
    width: 40%;
}
#nav i{
    width: 40%;
    text-align: right;
}

#elems {
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 60px;
}

#elem1 {
    width: 30%;
    height: 100%;
    /* background-color: blue; */


}

#elem2 {
    width: 30%;
    height: 100%;
    /* background-color: blue; */
    border-right: 2px solid #acacac;
    padding: 20px 60px;
    text-align: center;
    border-left: 2px solid #a5a5a5;
}

#elem3 {
    width: 30%;
    height: 100%;
    /* background-color: blue; */
}

#elem1 #image-div {
    height: 60%;
    width: 100%;
    overflow: hidden;
    
    
}


#image-div img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all ease 0.5s;
    
}

#elem3 #image-div {
    height: 60%;
    width: 100%;
    overflow: hidden;
}

#image-div:hover img {
    scale: 1.1;
}

#elem1 h4{
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: canopee;
}
#elem1 h4 span{
    background-color: #B83C12;
    color: #C7BFB5;
    font-weight: 100;
    font-size: 18px;
    padding: 4px;
    border-radius: 5px;
    margin-left: 10px;
}
#elem1 p{
    font-weight: 300;
    font-family: editorial;
    font-size: 18px;
    margin-bottom: 10px;
    color: #2f2f2f;
}

#elem3 h4{
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: canopee;
}
#elem3 h4 span{
    
    background-color: #B83C12;
    color: #C7BFB5;
    font-weight: 100;
    font-size: 18px;
    padding: 4px;
    border-radius: 5px;
}
#elem3 p{
    font-weight: 300;
    font-family: editorial;
    font-size: 18px;
    margin-bottom: 10px;
    color: #2f2f2f;
}

#elem2 h2{
    font-family: canopee;
    font-size: 50px;
    font-weight: 100;
}

#elem2 h3{
    font-family: editorial;
    font-size: 24px;
    color: #35322c;
    font-weight: 800;
    margin: 20px 0;
}
#elem2 h6 {
    font-family: editorial;
    font-size: 18px;
    color: #2f2f2f;
    font-weight: 200;
}

#page1 h1{
    font-family: canopee;
    font-size: 560px;
    letter-spacing: 2px;
    font-weight: 100;
    background-color: #1C1C1A;
    color: #C7BFB5;
    margin: 20px 10px;
    padding-right: 200px;
    line-height: 500px;
    width:96%;
    margin-left: 2%;
}
#page2{
    width: 100%;
    height:150vh;
    background-color: #C7BFB5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding : 53px 40px;
}

#page2-left {
    height: 100%;
    /* background-color: red; */
    width: 50%;
    padding-right: 50px;
    border-right: 2px solid #2f2f2f;
}
#page2-left h2{
    font-family: canopee;
    font-weight: 100;
    text-align: center;
    font-size: 88px;
    line-height: 120px;
}
#page2-left h2 span{
    font-size: 128px;
    
}
#page2-left img{
    height: 60%;
    width: 100%;
    object-fit: cover;


}
#page2-left p{
   font-family: editorial;
   padding-top: 20px;
   font-size: 26px;
   line-height: 30px;

}

#page2-right{
    
    /* background-color: red; */
    padding-left: 50px;
}

#page2-right img{
    height: 70%;
    width: 100%;
    margin-bottom: 20px;
    object-fit: cover;
    
}

#page2-right h1 {
    font-family: canopee;
    font-size: 110px;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 90px;
}

#page3 {
    padding-bottom: 10px;
    position: relative;
    background-color: #C4BCB3;
}

#page3 h1 {
    font-size: 350px;
    font-weight: 100;
    letter-spacing: 8px;
    background-color: #1C1C19;
    width: fit-content;
    color: #C4BCB3;
    margin-left: 2%;
    padding: 0 20px;
    line-height: 400px;
    /* margin-right: 50%; */
    font-family: canopee;
    /* border-right: 20px solid #2d2c2c; */
    
}

#page3 img {
    height: 400px;
    position: absolute;
    top: 0;
    right: 2.7%;
    

}

#page4{
    height: 140vh;
    width:100%;
    background-color:#C7BFB5;
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding : 40px 0 ;
}

#page4-left{
    width: 60%;
    height: 100%;
    margin-left: 2%;
}

#elems2{
    display: flex;
    align-content: center;
    justify-content: space-between;
    /* height: 40%; */
    
}

#elem21{
    padding-right: 20px;
    width : 100%;
    border-right: 1px solid #35322c;
    
}

#elem21 h1{
    letter-spacing: 2px;
    font-family: canopee;
    font-size: 60px;
    padding-bottom: 20px;
}

#elem21 h3{
    font-family: editorial;
    font-weight: 300;
    font-size: 40px;
    color: #222;
    padding-bottom: 30px;
}
#elem21 p{
    font-family: editorial;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 16px;
    color: #222;
}

#elem22{
    padding-left: 40px;
    margin-top: -10px;
}

#imagediv2{
    height: 100%;
    width: 100%;
    overflow: hidden;
    
}
#imagediv2 img{
    height: 60%;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    transition: all ease 0.5s;

}   
#imagediv2:hover img{
    scale: 1.1;
}
#imagediv2 h1{
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 1000;
    font-size: 20px;
    font-family: editorial;
}
#imagediv2 p{
    font-size: 20px;
    font-family: editorial;

}

#page4-left img{
    padding-top: 20px;
    margin-left: 2px;
    width : 100%;
}

#page4-right{
    
    width: 35%;
    height: 100%;
    padding: 80px 40px;
    text-align: center;
    border-left: 1px solid #35322c;
}

#page4-right h1{
    margin-top: -60px;
    font-family: canopee;
    font-size: 96px;

}
#page4-right h2{
    font-family: canopee;
    font-size: 200px;

}
#page4-right .p1{
    font-family: editorial;
    font-size: 30px;
    padding-bottom: 20px;

}
#page4-right .p2{
    padding-top: 20px;
    font-family: editorial;
    font-size: 26px;
    padding: 25px 0px ;

}

#page4-right #gola{
    margin-top: 55px;
    margin-left:  40px;
    background-color: #C2BAB0;
    height: 200px;
    width:80%;
    border-radius: 100%;
    border:1px solid #35322c;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    overflow: hidden;
}
#gola h1{
    margin-top:8px;
    font-family: canopee;
    font-size: 48px;
    font-weight:100;
    width: 100%;
    height: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    transform:translateX(-26%);
    transition : all ease 0.7s;
    
}
#gola img{
    transform: translateX(-120%);
    transition : all ease 0.7s;
}
#gola:hover img{
    transform :translateX(84%)
}
#gola:hover h1{
    transform :translateX(140%)
}

#page5{
    background-color: #C7BFB5;
    height: 30vh;
    width : 100vw;


    
    

}
.divp5{
    width:96%;
    padding: 40px 20px;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
    margin-left: 2%;
    margin-right: 2%;
    border-top: 2px solid #35322c;
    border-bottom: 2px solid #35322c;
}

.div1{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.div1-left{
    padding:10px;
}
.div1-left h2{
    font-family: editorial;
    font-size: 28px;
    font-weight: 100;
}
.div1-left h1{
    font-family: canopee;
    font-size: 88px;
    font-weight: 100;
}

.div-right h1{
    padding-left: 10px;
    font-family:canopee;
    font-size: 128px;
}
/* =========== PAGE6 ============= */
#page6{
    height:200vh;
    width:100%;
    background-color: #C7BFB5;
    
}

#page6 .con{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.p6-left{
    margin-left:2%;
    width: 50%;
    
}
.pl{
    padding : 10px 30px 10px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.pl img{
    height: 360px ;
    width:30%;
    object-fit:cover;
}


.p6-left h1{
    padding-right: 10px;
    line-height: 350px;
    font-weight: 400;
    letter-spacing: 2px;
    font-family: canopee;
    font-size: 430px;
}
.pl h1{
    /* padding-right: 10px; */
    line-height: 350px;
    font-weight: 400;
    letter-spacing: 10px;
    font-family: canopee;
    font-size: 470px;
}




.p6-right{
    margin-right:2%;
    width: 50%;
}
.p6-right img{
    padding-left: 40px;
    width: 100%;
    height: 780px;
    object-fit: cover;
    padding-bottom: 40px;
}

.page6s2{
    margin-right: 2%;
    padding-right: -10px;
}
.s1{
    margin-left: 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.s1 img{
    height: 300px;
    width : 25%;
    object-fit: cover;
    margin-bottom: 20px ;
}
.s1 h1{
    margin-right: 2%;
    line-height: 300px;
    font-weight: 400;
    letter-spacing: 2px;
    font-family: canopee;
    font-size: 400px;
}
.s1 h1 span{
    
    line-height: 300px;
    font-weight: 400;
    letter-spacing: 2px;
    font-family: editorial;
    font-size: 350px;
}

.s2{
    margin-left: 2%;
    margin-right: 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.art {
    width: 80%;
    padding-right : 30px
    /* height: auto; */

}
.art h1{
    letter-spacing: 20px;
    background-color: #1C1C1A;
    color: #C4BCB3;
    font-family: canopee;
    font-size: 300px;

}

.art2 p{
    font-family: editorial;
    font-size: 26px;
    
}
.art2 h2{
    font-family: canopee;
    font-size: 88px;
    letter-spacing: 10px;
}